<div class="image-container" align=center>
  <img src="../../assets/images/wall.gif" alt="wall" class="actual-image">
</div>

<div align=center>
  <span class="first">Hello world!</span>&nbsp;
  <span class="second">Not everyone you meet is a social worker</span>
</div>

<div align=center>
  <span class="third">Some choose to be</span>&nbsp;
  <span class="fourth">SocialCoder.</span>&nbsp;
  <span class="fifth">Be one of them.</span>
</div>

<br>
<div class="box-2">
  <div class="btn btn-two">
    <span>HOVER ME</span>
  </div>
</div>
